
# Various auxilary files spit out by latex
*.out
*.toc
*.brf
*.blg
*.aux
*.log
*.lof
*.lot
*.idx
*.ilg
*.ind
*.end
*.synctex.gz
*.synctex(busy)
*.bbl
*.fdb_latexmk
*.fls
*.xdv
*.lua
*.timestamp
*.xmpdata
*.xmpi
FieldGuide.pdf

.DS_Store

GECLibrary.bib
Literature
Archive
Notes